# .gitignore

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/terraform.tfvars

# Node & Next.js
frontend/node_modules/
dude/node_modules/
frontend/.next/
frontend/out/
frontend/.env*

# Mac OS
.DS_Store